.chat
  .chat-header
    .chat-header__group
      %p.chat-header__group-groupname
        サンプル
      %p.chat-header__group-groupmember
        テスト、テスト
    %input.chat-header__edit-button{type: "submit", value: "Edit"}
  .chat-messages
    .chat-messages__message
      .chat-messages__message-info
        %p.chat-messages__message-info--name
          テスト
        %p.chat-messages__message-info--timestamp
          2019/10/08(Tue) 01:40:11
      %p.chat-messages__message-main
        hello
    .chat-messages__message
      .chat-messages__message-info
        %p.chat-messages__message-info--name
          テスト
        %p.chat-messages__message-info--timestamp
          2019/10/08(Tue) 01:40:11
      %p.chat-messages__message-main
        hello