.side
  .side-top
    .side-top__box
      %p.side-top__box-name
        サンプル
      .side-top__box-icon
        %i.side-top__box-icon--edit
          =link_to "#" do
            =fa_icon 'edit'
        %i.side-top__box-icon--cog
          =link_to "#" do
            = fa_icon 'cog'
  .side-groups
    .side-groups__box
      %p.side-groups__box-name
        サンプル
      %p.side-groups__box-message
        メッセージ
    .side-groups__box
      %p.side-groups__box-name
        サンプル
      %p.side-groups__box-message
        メッセージ