-# サイドバー
.side
  .side-top
    .side-top__box
      -# テストデータ
      -# ユーザー名
      %p.side-top__box-name
        サンプル
      -# アイコン
      .side-top__box-icon
        %i.side-top__box-icon--edit
          =link_to "#" do
            =fa_icon 'edit'
        %i.side-top__box-icon--cog
          =link_to "#" do
            = fa_icon 'cog'
  .side-groups
    .side-groups__box
      -# テストデータ1
      -# グループ名
      %p.side-groups__box-name
        サンプル
      -# メッセージ
      %p.side-groups__box-message
        メッセージ
    .side-groups__box
      -# テストデータ2
      -# グループ名
      %p.side-groups__box-name
        サンプル
      -# メッセージ
      %p.side-groups__box-message
        メッセージ