$color-white: #ffffff;
$color-lightblue: #38AEF0;
$color-border_gray: #eeeeee;
$color-back_navy: #253141;
$color-back_lightnavy: #2f3e51;
$color-back_gray: #d2d2d2;
$color-font_gray: #434A54;
$color-font_darkgray: #333333;
$color-font_lightgray: #999999;